@font-face{
    font-family: myFont;
    src: url(Quicksand_font_1/Quicksand-VariableFont_wght.ttf);
}
body{
    background: #d4d4d4;
    /* border: 1px solid #FFFFFF; */
    opacity: 1;
    margin: 0;
    font-family: myFont;
}
#bdy{
    background: #d4d4d4;
}
nav{
    /* background-image: url(images/header_pattern_image.png); */
    background: transparent url(images/header_pattern_image.png);
    /* mix-blend-mode: overlay; */
    opacity: 0.8;
    height: 57px;
    display: flex !important;
    align-items: center;
    padding-left: 2%;
}
#mrg{
    display: flex;
}
#navimg{
    width: 10%;
}

#navbarr ul{
    display: flex;
    font-family: myFont;
    /* margin-left: 14%; */
    margin-top: 3%
}
#mrg{
    margin-left: 22%
}
#navbarr ul li{
    list-style: none;
    margin-top: 9px;
}
#navbarr ul li a{
    color: #47ff1e;
    padding: 0px 9px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.1rem;
}
#navbarr ul li a:hover{
    color: white;
}
/* #navbar ul li a.active-page{
    color: white;
} */
.iconss{
    margin-left: 1%;
    margin-top: 1%;
}
.imgg{
    padding: 0 12px;
    height: 31px;
    width: 31%;
}


#container{
    width: 90%;
    /* background: #d4d4d4; */
    margin: auto;
}
#heading1{
    display: flex;
    margin-top: 21px;
    background: #8DDC97;
}
.first{
    display: flex;
    width: 50%;
    border-bottom: 6px solid black;
    justify-content: center;
}
.second{
    display: flex;
    width: 50%;
    justify-content: center;
}

#sortby{
    display: flex;
}
#sortby img{
    padding: 0 1%;
}
#spn{
    border-bottom: 2px solid #a2a2a2;
    padding-right: 58px;
    font-weight: 500;
    font-size: 19px;
}
#srt{
    margin-left: auto;
    margin-top: 1%;
}
#course{
    margin-left: 6%;
    margin-bottom: 0 !important;
    margin-top: 30px;
}
/* .img1{
    
}
.img2{

} */
.line{
    margin-top: 14px;
    margin-bottom: 0;
    word-wrap: 0;
    border: 1px solid  #a2a2a2;
}

.main{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}
.card{
    flex-direction: column !important;
    /* max-width: 42em; */
    width: 47%;
    height: 34vh;
    margin: 1%;
}
.card-body{
    padding-bottom: 0 !important;
    padding: 3% 0 0 0 !important;
}

.exp{
    position: absolute;
    font-size: 12px;
    text-align: center;
    width: 13%;
    color: #D80000;
    background: #FFE4E6 0% 0% no-repeat padding-box;
    font-weight: 500;
}

.upper{
    display: flex;
    flex-direction: row !important;
    max-width: 30em;
}
.card_img{
    max-width: 100%;
    padding: 22px 16px;
}
.topic{
    font-weight: 500;
    margin-bottom: 0;
}
.sub{
    display: flex;
    font-size: 13px;
    color: #0000007d;
    height: 15%;
}

.bold{
    font-weight: 600;
}

.fav{
    position: absolute;
    margin: 6px 0 0 91%;
}
.stick{
    border: 1px solid #00000047;
    height: 15px;
    margin: 6px 3% 0 3%;
}
.subsec{
    padding: 0 2%;
}
.underline{
    border-bottom: 2px solid #bdb3b3;
    margin-top: 0;
    margin-bottom: 2% !important;
}
.cls img{
    position: relative;
    position: relative;
    float: right;
    margin-top: -14%;
}
.line1{
    margin-top: 0;
    width: 92%;
    margin-left: 3%;
    border: 1px solid #a2a2a2;
}
.stat{
    display: flex;
    margin: 0 46px;
    justify-content: space-around;
    padding-bottom: 1em;
}

.page{
    display: flex;
    margin: 2% 0 0 46%;
}
.page p{
    margin: 0 1%;
}
.ftr{
    display: flex;
    text-align: center;
    background: #E0E1E1;
    height: 52px;
    align-items: center;
    justify-content: center;
    margin: 1% 0 0 0;
}
.ftr img {
    margin: 5px;
}
#stickk{
    border: 1px solid #0000001F;
    height: 20px;
}
.stick2{
    margin: 0 1%;
}
a.link{
    color: #1F7A54;
    text-decoration: none;
    font-weight: 600;
}

.hide{
    display: none;
}
/* .alertt{
    display: none;
} */
.alertt{
display: none;
position: absolute;
width: 100%;
height: 425px;
/* background: white; */
margin: 1px 0 0 56%;
/* box-shadow: #00000029 0 3px 6px; */
overflow: auto;
z-index: 10;
}
.alertContent{
    /* position: absolute; */
    width: 30%;
    height: 425px;
    background: white;
    padding-left: 11px;
    font-size: 14px;
    box-shadow: #00000029 0 3px 6px;
    overflow: auto;
    z-index: 1;
    /* position: absolute;
    width: 37%;
    height: 425px;
    background: white;
    padding-left: 11px;
    font-size: 14px;
    box-shadow: #00000029 0 3px 6px;
    overflow: auto; */
}
.alertContent2{
    border-bottom: 1px solid #c7c7c7;
    padding-left: 10px;
}
.component{
    padding-left: 10px;
}
.pa{
    font-size: 12px;
    padding-bottom: 2px;
    padding-top: 11px;
    margin: 0;
}
.name{
    font-weight: 400;
}
.msg{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
}
.date{
    font-size: 12px;
}
.date span{
    margin-left: 24px;
}
.butt{
    width: 37%;
    display: flex;
    flex-direction: row;
    margin: -151px 0 0 0;
    position: fixed;
}
.but1{
    width: 50%;
    border: none;
}
.but2{
    width: 50%;
    border: none;
}

.announcements{
    display: none;
    position: absolute;
    width: 29%;
    height: 425px;
    background: white;
    padding-left: 11px;
    font-size: 14px;
    box-shadow: #00000029 0 3px 6px;
    overflow: auto;
    margin: 1px 0 0 63%;
    z-index: 1;
    /* animation-name: sample;
    animation-duration: 2s; */
}
@keyframes sampleIn{
    from{opacity: 0;} to {opacity: 1;}
}
@keyframes sampleOut{
    from{opacity: 1;} to {opacity: 0;}
}
.butnn2{
    /* width: 37%; */
    height: 40px;
    margin: 50% 0 0px 0;
    position: fixed;
    box-shadow: #00000029 1px 4px 5px 0px;
    width: 37%;
    border: none;
    color: #1F7A54;
}
.butnn1{
    width: 28.7%;
    height: 40px;
    display: flex;
    flex-direction: row;
    margin: -166px 0 0px -10px;
    position: fixed;
    box-shadow: #00000029 1px 4px 5px 0px;
}


@media (max-width: 769px){
    #navbarr ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        font-family: myFont;
        padding: 0;
    }
    #navbarr ul li:hover {
        background: #F3F3F3;
    }
    #navbarr ul li a {
        color: #1F7A54;
        font-weight: 600;
        padding: 0px 9px;
        border-radius: 20px;
        text-decoration: none;
        font-size: 1.1rem;
    }
    #navbarr ul li a:hover {
        color: #1F7A54;
    }

    .main{
        display: block;
        width: 100%;
        height: auto;
        justify-content: center;
        z-index: -1;
        position: relative;
        /* display: block;
        width: 100%;
        height: auto;
        justify-content: center; */
    }
    .card{
        width: 89%;
        height: 253px;
        margin: 4% auto;
    }
    .card-body{
        padding-bottom: 0 !important;
        padding: 3% 0 0 0 !important;
    }
    /* .img1{
        
    } */
    .img2{
        width: "250px";
        height: "190px"
    }
    .img3{
        width: "250px";
        height: "190px"
    }
    .img4{
        width: "170px";
        height: "190px"
    }
    #mrg{
        display: none;
        position: absolute;
        margin-top: 262px;
        margin-left: 57%;
        background-color: #ffffff;
        box-shadow: 0 13px 20px;
        width: 41%;
        justify-content: left;
    }
    .iconss{
        display: flex;
        margin-left: 59%;
        margin-top: 1%;
    }
    .img{
        padding: 0 12px;
        height: 28px;
        width: 31%;
    }

    .hide{
        display: block;
    }

    .alertt{
    display: none;
    position: absolute;
    width: 37%;
    height: 500px;
    background: white;
    margin: 1px 0 0 39%;
    box-shadow: #00000029 0 3px 6px;
    overflow: auto;
    }
    .component{
        padding-left: 0;
    }
    .component2{
        border-bottom: 1px solid #c7c7c7;
        padding-left: 10px;
    }
    .pa{
        font-size: 12px;
        padding-bottom: 2px;
        padding-top: 11px;
        margin: 0;
    }
    .name{
        font-weight: 400;
    }
    .msg{
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 2px;
    }
    .date{
        font-size: 12px;
    }
    .date span{
        /* font-size: 12px; */
        margin-left: 24px;
    }
    .butnn1{
        width: 38%;
        height: 40px;
        display: flex;
        flex-direction: row;
        margin: -294px 0 0px -8px;
        position: fixed;
        box-shadow: #00000029 1px 4px 5px 0px;

    }
    .but1{
        width: 50%;
        border: none;
        color: #1F7A54;
    }
    .but2{
        width: 50%;
        border: none;
        color: #1F7A54;
    }

    .announcements{
        display: none;
        position: absolute;
        width: 37%;
        height: 425px;
        background: white;
        padding-left: 0;
        font-size: 14px;
        box-shadow: #00000029 0 3px 6px;
        overflow: auto;
        margin: 1px 0 0 44%;
    }
    .alertContent{
        position: absolute;
        width: 100%;
        height: 500px;
        background: white;
        padding-left: 0;
        font-size: 14px;
        box-shadow: #00000029 0 3px 6px;
        overflow: auto;
        /* position: absolute;
        width: 37%;
        height: 425px;
        background: white;
        padding-left: 11px;
        font-size: 14px;
        box-shadow: #00000029 0 3px 6px;
        overflow: auto; */
    }
    .alertContent2{
        border-bottom: 1px solid #c7c7c7;
        padding-left: 10px;
        padding-top: 1px;
    }
    .unread{
        background-color: #FFFFEE;
    }
    .datt{
        font-size: 12px;
    }
    .butnn2{
    /* width: 37%; */
    height: 40px;
    margin: 60% 0 0px 0;
    position: fixed;
    box-shadow: #00000029 1px 4px 5px 0px;
    width: 37%;
    border: none;
    color: #1F7A54;
    z-index: 1;
    }
    @keyframes sampleIn{
        from{opacity: 0;} to {opacity: 1;}
    }
    @keyframes sampleOut{
        from{opacity: 1;} to {opacity: 0;}
    }
}